html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Generic styling cues */

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 32px;
}
body {
    color: black;
    font-size: 13px;
    background-color: #FCF5E9;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap {
    flex-wrap: wrap;
}

/* Actual styling begins */

h1 {
    background-color: #4A7C7F;
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #FEFE75;
    padding: 37px;
    text-align: center;
    margin: 0 auto;
}
.header {
    padding-bottom: 40px;
}
div {
    background-color: white;
    padding: 32px;
    width: 25%;
    text-align: center;
    margin-bottom: 3%;
}
img {
    width: 50%;
    align-items: center;
}
h2 {
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
p {
    font-size: 14px;
    text-align: center;
}
button {
    margin: 15px;
    text-align: center;
}
